.deps
.libs
*.gcno
*.la
*.lo
*.o
*-coverage*
Makefile
Makefile.in
/aclocal.m4
/aminclude_static.am
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in*
/config.log
/config.sub
/config.status
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/stamp-h1
/src/mkrpm
/test-driver
/tests/*.log
/tests/*.trs
/tests/test-tagdb
